In [1]:
import numpy as n
import pandas as p

In [9]:
from sklearn.datasets import load_diabetes as l
d=l()
d
d.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

In [21]:
r=d.data
c=d.feature_names
df=p.DataFrame(r,columns=c)
df["Target"]=d.target
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [28]:
df.corr()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
age,1.000000,0.173737,0.185085,0.335427,0.260061,0.219243,-0.075181,0.203841,0.270777,0.301731,0.187889
sex,0.173737,1.000000,0.088161,0.241013,0.035277,0.142637,-0.379090,0.332115,0.149918,0.208133,0.043062
bmi,0.185085,0.088161,1.000000,0.395415,0.249777,0.261170,-0.366811,0.413807,0.446159,0.388680,0.586450
bp,0.335427,0.241013,0.395415,1.000000,0.242470,0.185558,-0.178761,0.257653,0.393478,0.390429,0.441484
s1,0.260061,0.035277,0.249777,0.242470,1.000000,0.896663,0.051519,0.542207,0.515501,0.325717,0.212022
s2,0.219243,0.142637,0.261170,0.185558,0.896663,1.000000,-0.196455,0.659817,0.318353,0.290600,0.174054
s3,-0.075181,-0.379090,-0.366811,-0.178761,0.051519,-0.196455,1.000000,-0.738493,-0.398577,-0.273697,-0.394789
s4,0.203841,0.332115,0.413807,0.257653,0.542207,0.659817,-0.738493,1.000000,0.617857,0.417212,0.430453
s5,0.270777,0.149918,0.446159,0.393478,0.515501,0.318353,-0.398577,0.617857,1.000000,0.464670,0.565883
s6,0.301731,0.208133,0.388680,0.390429,0.325717,0.290600,-0.273697,0.417212,0.464670,1.000000,0.382483
Target,0.187889,0.043062,0.586450,0.441484,0.212022,0.174054,-0.394789,0.430453,0.565883,0.382483,1.000000

In [30]:
x=df[["bmi","s4","s5"]]
y=df["Target"]

In [51]:
x=df.drop("Target",axis=1)
x.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [52]:
from sklearn.neighbors import KNeighborsClassifier as l
obj=l(n_neighbors=4)
obj

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

In [53]:
obj.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

In [54]:
obj.predict(x)

array([141.,  52., 127., 151.,  50.,  61.,  49.,  63.,  97.,  52.,  99.,
        55.,  72.,  42.,  59.,  91.,  48., 144.,  64., 115.,  42.,  43.,
       113., 242., 129.,  61.,  85.,  78.,  31.,  66., 103.,  59., 259.,
        64.,  53.,  87.,  48.,  88., 186.,  42., 100.,  55.,  58.,  48.,
       174.,  47., 140., 134.,  75., 107.,  25., 127.,  59.,  50.,  60.,
        48.,  52.,  37.,  87.,  69.,  61., 126.,  39.,  96.,  71., 107.,
       111.,  53.,  53.,  42.,  48., 195.,  69.,  51.,  65.,  42.,  67.,
        55., 131.,  68.,  67.,  51.,  52.,  25.,  63.,  70.,  55.,  73.,
        39., 111.,  72., 115.,  48.,  48.,  51.,  68., 129., 109.,  53.,
        79.,  95.,  65., 103., 122.,  95.,  42.,  69.,  91., 151.,  81.,
        47.,  59.,  68., 129., 258.,  68., 275., 155.,  84.,  72.,  25.,
        66., 174.,  84.,  25., 161.,  85.,  54.,  51., 155., 131.,  69.,
        84.,  43.,  60., 167.,  59., 195., 131.,  99., 118., 192., 170.,
        59., 122.,  95., 107., 128.,  53., 126., 109.,  72., 181.,  71.,
        97., 186.,  25.,  51.,  53., 195.,  31., 139.,  55., 131.,  73.,
        59.,  71., 150., 180., 152.,  47.,  63., 180.,  71.,  71.,  72.,
       178., 173.,  59., 151.,  91.,  59., 138.,  71., 167.,  58.,  68.,
        37.,  67.,  49.,  66.,  71.,  53., 104.,  68., 122.,  59.,  91.,
        95.,  90.,  72.,  39.,  69., 122., 124.,  52., 122., 166., 155.,
        77.,  59.,  70.,  73.,  49.,  65., 131., 212., 236.,  93., 140.,
        47.,  64.,  44., 140.,  42., 150.,  49.,  66.,  64.,  39., 121.,
        66., 122.,  59., 202.,  77.,  67.,  72.,  77.,  67., 275.,  65.,
        71.,  47.,  49., 114.,  64.,  51., 121., 195., 246., 222.,  91.,
       150., 310.,  49.,  78.,  63.,  81.,  50.,  39.,  87., 275.,  55.,
        55.,  42.,  39.,  95., 180.,  39., 178., 118., 131., 197.,  66.,
        42.,  67.,  59.,  89.,  44., 185.,  74.,  67.,  42.,  77., 151.,
        48.,  67.,  63.,  68., 275.,  67.,  65., 109.,  47.,  53.,  63.,
        31.,  71.,  53., 275.,  65., 109., 143.,  63., 124.,  44.,  81.,
        37., 100., 109., 115.,  68., 144., 129.,  59., 111.,  67.,  73.,
       166.,  67., 230., 242., 197.,  67., 164.,  97., 109.,  55.,  39.,
       122.,  71., 258., 129.,  71.,  63., 121.,  91.,  93.,  95.,  48.,
       118., 118., 104.,  59., 111., 131.,  53.,  72.,  61., 243.,  71.,
        60.,  90., 139.,  49.,  53., 101.,  59., 122.,  66.,  72., 131.,
        58.,  81., 146., 178., 178., 123.,  52.,  63., 150.,  53., 144.,
       140., 217., 121.,  91.,  51.,  40.,  52.,  55., 132.,  44.,  69.,
        44.,  49.,  31.,  53.,  51., 123.,  42.,  65.,  59., 152.,  93.,
        43., 155.,  78., 163.,  48.,  48.,  89., 275.,  52., 151.,  65.,
        91.,  66., 163., 111., 121., 155.,  68., 131.,  91., 109.,  55.,
        84.,  42.,  50., 122.,  96.,  91., 111.,  37., 100.,  60., 310.,
        59.,  96.,  66., 150.,  52.,  49.,  64.,  59., 129.,  84.,  83.,
        52.,  57.])

In [62]:
from sklearn.metrics import accuracy_score
m=obj.predict(x)

In [60]:
accuracy_score(y,m)*100

21.945701357466064